<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4>
            Temas
          </h4>
        </div>
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li><b>Con el sidebar claro</b></li>
            <li>
              <a #link1 (click)="changeCurrentTheme('default', link1)" class="selector default-theme"
                data-theme="default">1
              </a>
            </li>
            <li>
              <a #link2 (click)="changeCurrentTheme('green', link2)" class="selector green-theme" data-theme="green">2
              </a>
            </li>
            <li>
              <a #link3 (click)="changeCurrentTheme('red', link3)" class="selector red-theme" data-theme="red">
                3
              </a>
            </li>
            <li>
              <a #link4 (click)="changeCurrentTheme('blue', link4)" class="selector blue-theme" data-theme="blue">
                4
              </a>
            </li>
            <li>
              <a #link5 (click)="changeCurrentTheme('purple', link5)" class="selector purple-theme" data-theme="purple">
                5
              </a>
            </li>
            <li>
              <a #link6 (click)="changeCurrentTheme('megna', link6)" class="selector megna-theme" data-theme="megna">
                6
              </a>
            </li>

            <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
            <li>
              <a #link7 (click)="changeCurrentTheme('default-dark', link7)" class="selector default-dark-theme" data-theme="default-dark">
                7
              </a>
            </li>
            <li>
              <a #link8 (click)="changeCurrentTheme('green-dark', link8)" class="selector green-dark-theme" data-theme="green-dark">
                8
              </a>
            </li>
            <li>
              <a #link9 (click)="changeCurrentTheme('red-dark', link9)" class="selector red-dark-theme" data-theme="red-dark">
                9
              </a>
            </li>
            <li>
              <a #link10 (click)="changeCurrentTheme('blue-dark', link10)" class="selector blue-dark-theme" data-theme="blue-dark" >
                10
              </a>
            </li>
            <li>
              <a #link11 (click)="changeCurrentTheme('purple-dark', link11)" class="selector purple-dark-theme" data-theme="purple-dark">
                11
              </a>
            </li>
            <li>
              <a #link12 (click)="changeCurrentTheme('megna-dark', link12)" class="selector megna-dark-theme" data-theme="megna-dark">
                12
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
